* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  resize: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --hover-color: rgb(222, 217, 217);
}

a {
  transition: 0.3s;
}

body {
  background-image: url("https://pbs.twimg.com/media/CZxYUWgWIAMnHff?format=jpg&name=4096x4096");
  background-size: cover;
}

.top-bookmarks-container {
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
}
.top-bookmark-item {
  display: flex;
  align-items: center;
  color: black;
  font-size: 13px;
  border-radius: 20px;
  padding: 0px 10px;
}

.top-bookmark-item i {
  color: blueviolet;
  margin-right: 5px;
}

.more-icon-container {
  padding-right: 10px;
  font-size: 10px;
  cursor: pointer;
}

.top-bookmarks-container *:hover {
  background-color: var(--hover-color);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  font-size: 13px;
  padding: 20px;
}

#navbar a {
  color: #ffff;
}

#navbar a:hover {
  color: var(--hover-color);
}

#navbar #profile-pic {
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

header a {
  background-color: white;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  background-color: rgba(31, 31, 31, 1);
  border-radius: 20px;
  padding: 16px 24px;
  max-height: 200px;
}

/* MAIN */

main {
  padding-top: 50px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .fa-search {
  font-size: 17px;
  color: #5f6368ff;
  border-radius: 20px;
  padding: 10px;
  transform: translateX(40px);
}

.search-bar input {
  width: 50%;
  height: 50px;
  border-radius: 50px;
  padding: 0px 40px;
  font-size: 15px;
}

.search-bar .other-search-options {
  display: flex;
  align-items: center;
  transform: translateX(-85px);
}

.search-bar .other-search-options a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .other-search-options img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.main-bookmarks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.main-bookmarks-container .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  gap: 10px;
}

.main-bookmark {
  width: 120px;
  height: 65px;
}

.main-bookmark a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-size: 12px;
}

.main-bookmark i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  color: blueviolet;
  font-size: 16px;
  margin-bottom: 5px;
}

/* FOOTER */

footer {
  display: flex;
  padding: 50px 30px;
  align-items: center;
  /* padding: 50px 30px 0px; */
}

footer .image-author {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffff;
  gap: 10px;
  border-radius: 8px;
}

.image-author a {
  color: #ffff;
  text-decoration: underline;
  font-size: 0.875rem;
}

.your-files-container {
  background-color: #d3e3fdff;
  width: 730px;
  margin: 0 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
}

.files-part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background-color: #ffff;
  border-radius: 50px;
}

.your-files-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.your-files-upper p {
  font-size: 13px;
}

.your-files-lower {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 15px;
  gap: 10px;
}

.your-files-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.your-files-item i {
  font-size: 24px;
  color: green;
}

.your-files-item-text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.your-files-item-text span {
  font-size: 10px;
}
